<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test html page</title>

    <link rel="icon" type="image/png"
          href="https://avatars.githubusercontent.com/u/198439363?s=400&u=41d28b536c7a57d37acefcb97c157bc4b261c4bd&v=4">
    <link rel="stylesheet" href="/css/test.css" type="text/css">
</head>
<body>

<div class="not-found-container">
    <div>Test html page</div>

    <a href="/">Back to main</a>
</div>
</body>
</html>